<div class="inv-menu {{ menu.modifier }}">
  {{> @menu-expand-button}}
  <div class="inv-menu__container {{ ternary menu.open "inv-menu__container--open" "" }}">

    <div class="inv-menu-header">
      {{> @menu-collapse-button}}
      <img
          class="inv-menu-logo"
          src="https://raw.githubusercontent.com/involvestecnologia/violin.css/master/public/assets/images/logo-full.png"
          alt="{{ menu-logo.alt }}" />
      <img
          class="inv-menu-logo inv-menu-logo--small"
          src="https://raw.githubusercontent.com/involvestecnologia/violin.css/master/public/assets/images/logo.png"
          alt="{{ menu-logo.alt }}" />
    </div>

    <div class="inv-menu__search" title="Click to search">
      <i class="material-icons">search</i>
      <span>Ctrl+k para buscar</span>
    </div>
    <div class="inv-menu__search-tip">Ctrl+k</div>

    <div class="inv-menu__list">
      {{#if menu.categorie}}
      {{> @menu-list-categorie }}
      {{else}}
      {{> @menu-list--open }}
      {{/if}}
    </div>

    <div>
      <a class="inv-menu__user" href="#">
        <img src="https://raw.githubusercontent.com/involvestecnologia/violin.css/master/public/assets/images/pikachu.jpg"
          alt="User Avatar">
        <span>João</span>
      </a>
    </div>

  </div>
</div>
