<div class="inv-menu {{ menu.modifier }} {{ ternary menu.open "inv-menu--open" "" }}">
  {{> @menu-expand-button}}
  <div class="inv-menu__container">
    <div class="inv-menu-header">
      {{> @menu-collapse-button}}
      <a href="#" class="inv-menu-header__logo">
        <picture>
          <source media="(min-width: 500px)" srcset="/assets/images/logo.png">
          <img src="/assets/images/logo-full.png" alt="{{ menu-logo.alt }}" />
        </picture>
      </a>
    </div>

    <div class="inv-menu__search">
      {{> @menu-search--default }}
      {{#unless menu.open}}
        <div class="inv-menu__search-tip">Ctrl+k</div>
      {{/unless}}
    </div>

    <div class="inv-menu__list">
      {{#if menu.categorie}}
        {{> @menu-list-categorie }}
      {{else}}
        {{> @menu-list--open }}
      {{/if}}
    </div>
    <picture class="inv-menu__brand">
      <source media="(min-width: 500px)" srcset="/assets/images/brand.png">
      <img src="/assets/images/brand-full.png" alt="{{ menu-logo.alt }}" />
    </picture>
  </div>
</div>
