<div class="inv-menu {{ menu.modifier }} {{ ternary menu.open "inv-menu--open" "" }}">
  {{> @menu-expand-button}}
  <div class="inv-menu__container">
    <div class="inv-menu-header">
      {{> @menu-collapse-button}}
      <a href="#" class="inv-menu-header__logo">
        <img src="{{ menu-logo-open.src }}" alt="{{ menu-logo-open.alt }}" />
      </a>
    </div>
    {{> @menu-search--default }}
    <div class="inv-menu__container-list">
      {{#if menu.categorie}}
        {{> @menu-list-categorie }}
      {{else}}
        {{> @menu-list--open }}
      {{/if}}
    </div>
    <img
      class="inv-menu__container-brand"
      src="{{ menu-brand-open.src }}"
      alt="{{ menu-brand-open.alt }}"
    />
  </div>
</div>
