<div class="inv-menu {{ menu.modifier }}">
  <button class="inv-menu-btn inv-menu-btn--expand">
    <i class="material-icons">menu</i>
  </button>

  <div class="inv-menu__container {{ ternary menu.open "inv-menu__container--open" "" }}">

    <div class="inv-menu-header">
      <button class="inv-menu-btn">
        <i class="material-icons">keyboard_arrow_left</i>
      </button>
      <img
          class="inv-menu-logo inv-menu-logo--small"
          src="https://raw.githubusercontent.com/involvestecnologia/violin.css/master/public/assets/images/logo.png"
          alt="{{ menu-logo.alt }}" />
      <img
          class="inv-menu-logo inv-menu-logo--large"
          src="https://raw.githubusercontent.com/involvestecnologia/violin.css/master/public/assets/images/logo-full.png"
          alt="{{ menu-logo.alt }}" />
    </div>

    <div class="inv-menu__search" title="Click to search">
      <i class="material-icons">search</i>
      <span>Ctrl+k para buscar</span>
    </div>
    <div class="inv-menu__search-tip">Ctrl+k</div>

    {{#if menu.categorie}}

      <div class="inv-menu-list-categorie-container">
        <a href="#" class="inv-menu-list-categorie__back-button">
          <i class="material-icons">keyboard_arrow_left</i>
        </a>
        <div class="inv-menu-list-categorie">
          <div class="inv-menu-list-categorie__title">
            <i class="material-icons">people</i><span>Colaboradores</span>
          </div>
          {{#each menu-list-categorie.list}}
            {{#if this.item.title}}
              <div class="inv-menu-list-categorie__separator">{{ this.item.title }}</div>
            {{else}}
              <a href="#" class="inv-menu-list-categorie__item">{{ this.item.text }}</a>
            {{/if}}
          {{/each}}
        </div>
      </div>

    {{else}}

      <div class="inv-menu-list {{ menu-list.modifier }}">
        {{#each menu-list.list}}
          <a href="#" class="inv-menu-list__item">
            <i class="material-icons">{{this.item.icon}}</i>
            <span>{{this.item.text}}</span>
          </a>
        {{/each}}
      </div>

    {{/if}}

    <a class="inv-menu__user" href="#">
      <img src="https://raw.githubusercontent.com/involvestecnologia/violin.css/master/public/assets/images/pikachu.jpg"
        alt="User Avatar">
      <span>João</span>
    </a>

  </div>
</div>
