<div class="inv-menu {{ ternary menu.open "inv-menu--open" "" }}">

  <header class="inv-menu__header">
    {{#if menu.logo}}
      {{> @menu-logo}}
    {{/if}}
  </header>

  <div class="inv-menu__content">

    {{#if menu.search}}
      {{#if menu.open}}
        {{render '@menu-search--open'}}
      {{else}}
        {{render '@menu-search'}}
      {{/if}}
    {{/if}}

    <div class="inv-menu__list {{ ternary menu.open "inv-menu__list--open" "" }}">
      {{#each menu.list}}
        <div class="inv-menu__list-item">
          <a href="#" class="inv-text-link {{ this.item.modifier }}">
            <i class="material-icons">{{ this.item.value }}</i>
            <span>{{ this.item.title }}</span>
          </a>
        </div>
      {{/each}}
    </div>

  </div>

  <footer class="inv-menu__footer">
    {{#if menu.brand}}
      {{> @menu-logo-brand}}
    {{/if}}
  </footer>
  
</div>
