<div class="inv-menu {{ menu.modifier }} {{ ternary menu.open "inv-menu--open" "" }}">
  {{> @menu-expand-button}}
  <div class="inv-menu__container">
    <div class="inv-menu-header">
      {{> @menu-collapse-button}}
      <a href="#" class="inv-menu-header__logo">
        <img src="{{ menu-logo.src }}" alt="{{ menu-logo.alt }}" />
      </a>
    </div>

    <div class="inv-menu__search">
      {{> @menu-search--default }}
      <div class="inv-menu__search-tip">Ctrl+k</div>
    </div>

    <div class="inv-menu__list">
      {{#if menu.categorie}}
        {{> @menu-list-categorie }}
      {{else}}
        {{> @menu-list--open }}
      {{/if}}
    </div>
    <img
      class="inv-menu__brand"
      src="{{ menu-brand.src }}"
      alt="{{ menu-brand.alt }}"
    />
  </div>
</div>
